
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.png">

    <title>用户登录</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/login.css" rel="stylesheet">

  </head>

  <body>

    <div class="toolbar">
        <h1>欢迎使用空气质量监测系统</h1>
    </div>

    <div class="container-fluid">
    
      <div class="row">
      <div class="col-lg-8">
        <img class="loginPageImage" src="images/loginpage.jpg">
      </div>

      <div class="col-lg-4">
      <form class="form-login" style="width:300px">
      
        <h2 class="form-login-heading">用户登录</h2>
        <label class="sr-only">用户ID</label>
        <input id="userId" class="form-control" placeholder="用户名或邮箱" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="password" class="form-control" placeholder="密码" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> 记住我
          </label>
        </div>
        <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button> -->
        <input id="submits" type="button" value="登录" class="btn btn-lg btn-primary btn-block">
        <div align="right">
          <a href="register">没有账号？先注册</a>
        </div>
      
      </form>
    </div>
    </div>

    </div> <!-- /container -->

    <script src="javascripts/socketio.js"></script>
    <script src="javascripts/socket.io-stream.js"></script>
    <script src="javascripts/blob-stream.js"></script>
    <script src="javascripts/mimonodejsSDK.js"></script>
    <script type="text/javascript" src="javascripts/login.js"></script>
    <!-- <script type="text/javascript" src="javascripts/subscribeOnTheme.js"></script> -->

  </body>
</html>
