
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="images/favicon.png">

  <title><%= title%></title>

  <!-- Bootstrap core CSS -->
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="stylesheets/login.css" rel="stylesheet"></head>

<body class="no-subnav">
  <header>
    <nav id="main-nav" class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar navbar-left">
          <a href="/" style="color: rgb(225,225,225);">
            <h2>
              <img src="images/welcome.png" style="height: 35px;">欢迎使用空气质量监测系统</h2>
          </a>
        </div>

        <div class="collapse navbar-collapse navbar-top-collapse">
          <ul class="nav navbar-nav navbar-right">

            <li class="">
              <a href="/">
                <img src="images/home.png" style="height: 40px;"></a>
            </li>
            <li class="">
              <a href="/">
                <h4 style="color: rgb(225,225,225);">Features</h4>
              </a>
            </li>
            <li class="">
              <a href="/">
                <h4 style="color: rgb(225,225,225);">Pricing</h4>
              </a>
            </li>
            <li class="">
              <a href="/">
                <h4 style="color: rgb(225,225,225);">Add-ons</h4>
              </a>
            </li>
            <li role="presentation" class="divider-vertical">
              <span>
                <h3 style="color: rgb(255,255,255);">|</h3>
              </span>
            </li>
            <li class="">
              <a href="login">
                <h4 style="color: rgb(225,225,225);">登录</h4>
              </a>
            </li>
            <li class="hidden-xs">
              <div class="register">
                <a href="register">
                  <!-- <input id="submits" type="button" style="margin:40%;" value="注册" class="btn btn-primary btn-block"></a> -->
                  <button class="btn btn-small btn-blue" type="submit">注册</button></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container1">
    <div class="row pad-xs">

      <div class="col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-7">

        <!-- <div class="col-lg-4">
        <form class="form-login" style="width:300px">

          <h2 class="form-login-heading">用户登录</h2>
          <div class="userid">
            <label class="sr-only">用户ID</label>
            <input id="userId" class="form-control" placeholder="用户名或邮箱" required autofocus></div>
          <div class="pw">
            <label for="inputPassword" class="sr-only">密码</label>
            <input type="password" id="password" class="form-control" placeholder="密码" required></div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me">记住我</label>
          </div>

          <input id="submits" type="button" value="登录" class="btn btn-lg btn-primary btn-block">
          <div align="right" class="register">
            <a href="register" style="color: rgb(255,255,255);">没有账号？先注册</a>
          </div>

        </form>
      </div>
      -->

      <div class="col-lg-8">
      <form class="form-login">
        <div>
          <h2 class="form-login-heading">用户登录：</h2>
        </div>
        <div class="form-group">
          <input id="userId" type="text" class="form-control input-lg" placeholder="用户名或邮箱" autofocus/>
        </div>
        <div class="form-group">
          <input id="password" type="password" class="form-control input-lg" placeholder="密码"/>
        </div>
        <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me">记住我</label>
          </div>
        <div class="form-group">
        <!-- <button id="submits" class="btn btn-primary btn-lg btn-block btn-border">登录</button> -->
        <input id="submits" type="button" value="登录" class="btn btn-lg btn-primary btn-block btn-border">
        </div>

        <div align="right">
            <a href="register" style="color: rgb(255,255,255);">没有账号？先注册》</a>
          </div>
       
      </form>
    </div>

    </div>
  </div>
</div>

<footer>
  <h1>@2015  智慧无线移动信息技术中心(ISWIT) </h1>
</footer>

<script src="javascripts/socketio.js"></script>
<script src="javascripts/socket.io-stream.js"></script>
<script src="javascripts/blob-stream.js"></script>
<script src="javascripts/mimonodejsSDK.js"></script>
<script type="text/javascript" src="javascripts/login.js"></script>
<!-- <script type="text/javascript" src="javascripts/subscribeOnTheme.js"></script>
-->
</body>
</html>