body,
h1,
div {
        margin: 0px;
        padding: 0px;
    }
    body {
        margin: 0px;
        padding: 0px;
        position: relative;
    }
    header {
        margin: 0px;
        padding: 0px;
    }
    footer {
        background-color: #ebebeb;
        height: 100px;
        text-align: center;
        padding: 2%;
    }
	.navbar {
		background-color: rgb(60,60,60);
		/*display: block;*/
        height: 15%;
        margin: 0px;
        padding: 0px;
	}
    .container {

    }
    .container1 {
        background: url(../images/background.jpg);
        background-position: top;
        background-size: 100%;
        background-repeat: no-repeat;
        min-height: 550px;
        margin: 0px;
        padding: 0px;
    }
    .userid {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .pw {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .checkbox {
        margin-top: 10%;
        margin-bottom: 10%;
        color: rgb(255,255,255);
    }
    .form-login-heading {
        color: rgb(255,255,255);
        text-align: left;
    }
    .form-login {
        margin-top: 30%;
        padding: 5%;
        /*border: 2px;
        border-color: blue;
        border-style: dashed;*/
    }
    .register {
        margin-top: 30%;
        color: rgb(255,255,255);
    }
